body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.container {
    margin-top: 50px;
}

footer {
    margin-top: 400px;
    padding: 5px;
    background-color: #333;
    color: white;
}